// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$orange: #d75403;
$yellow: #ffd670;
$green: #38c172;
$light-blue: #85c1ff;
$blue: #41708E;

.bottone{
  background-color:  rgb(112, 163, 214);
  border-radius: 13px;
  padding: 5px 15px;
  color: white;
  transition: 0.4s;

  &:hover{
    background-color: rgb(133, 193, 255);
  
  }
}