// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$orange: #d75403;
$yellow: #ffd670;
$green: #38c172;
$light-blue: #85c1ff;

