.background_color_y {
  background-color: rgb(255, 214, 112);
}

.background_color_lb {
  background-color: $light-blue;
}

.text_color {
  color: $blue;
}

.box_shadows {
  border: 1px solid hsl(0deg 0% 0% / 0.25);
  padding: 35px;
  border-radius: 15px;
  box-shadow: 15px 15px 0 hsl(0deg 0% 0% / 0.25);
}


